<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="d-flex justify-content-center">
				<h2>お知らせ一覧です</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-10 offset-lg-1 col-12">
			<div class="d-flex justify-content-center">
				<table class="table table-hover table-inverse">
					<colgroup span="1" style="width:60%;">
					<colgroup span="1" style="width:40%;">
					<thead>
						<tr>
							<th> お知らせタイトル</th>
							<th> お知らせ配信日時</th>
						</tr>
					</thead>
					<tbody>
						<% @notices.each do |notice| %>
							<tr>
								<td><%= link_to notice.notice_title, notice_path(notice.id) %></td>
								<td><%= notice.created_at.strftime("%Y") %>年<%= notice.created_at.strftime("%m") %>月<%= notice.created_at.strftime("%d") %>日</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<%= paginate @notices, :window => 2 %>
</div>